@let e = enemy();
@let y = player();
@let current = currentPlayer();

<table>
    <thead>
        <tr>
            <th [class.current-player-indicator]="!!current && current?.id === y?.id">You</th>
            <th>Goal</th>
            <th [class.current-player-indicator]="!!current && current?.id === e?.id">{{ e?.name ?? "Enemy" }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="total">
            <td class="total__you">{{ y?.score ?? 0 }}</td>
            <td class="total__goal">{{ goal() }}</td>
            <td class="total__opponent">{{ e?.score ?? 0 }}</td>
        </tr>
        <tr class="round">
            <td class="round__you">{{ y?.roundScore ?? 0 }}</td>
            <td>Round</td>
            <td class="round__opponent">{{ e?.roundScore ?? 0 }}</td>
        </tr>
        <tr class="selected">
            <td class="selected__you">{{ y?.turnScore ?? 0 }}</td>
            <td>Selected</td>
            <td class="selected__opponent">{{ e?.turnScore ?? 0 }}</td>
        </tr>
    </tbody>
</table>
