@let e = enemy();
@let y = player();
@if (!y || !e) {
    <p>Loading...</p>
} @else {
    <table>
        <thead>
        <tr>
            <th>You</th>
            <th>Goal</th>
            <th>{{ e.name }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="total">
            <td class="total__you">{{ y.score }}</td>
            <td class="total__goal">{{ goal() }}</td>
            <td class="total__opponent">{{ e.score }}</td>
        </tr>
        <tr class="round">
            <td class="round__you">{{ player()?.score }}</td>
            <td>Round</td>
            <td class="round__opponent">{{ e.score }}</td>
        </tr>
        <tr class="selected">
            <td class="selected__you">{{ y.score }}</td>
            <td>Selected</td>
            <td class="selected__opponent">{{ e.score }}</td>
        </tr>
        </tbody>
    </table>
}
