@use "./../../../utils.scss" as utils;

:host {
    display: block;
    padding: 3rem;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit-content;
    overflow: auto;
    color: white;
    max-width: 95vw;
    max-height: 95vh;

    transform: translateX(-150%); // default offscreen to prevent flicker

    @include utils.mobile() {
        font-size: 1rem;
    }
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.combination-grid {
    display: grid;
    grid-template:
        "simple multiple"
        "simple extra-multiple";
    gap: 1rem;

    @include utils.mobile() {
        grid-template:
            "simple"
            "multiple"
            "extra-multiple";
    }
}

.simple-combinations {
    grid-column: simple;
}

.multiple-combinations {
    grid-column: multiple;
}

.extra-multiple-combinations {
    grid-column: extra-multiple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5rem 0;
    font-weight: normal;
}

h1 {
    color: var(--color-primary);
    margin-bottom: 0;
    font-weight: bold;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

ng-icon {
    font-size: 2rem;
    color: white;

    &.extra {
        color: var(--color-primary);
    }
}

.score {
    color: var(--color-primary);
}
