<div class="game-actions">
    <div (click)="rollDice()" [class.disabled]="!canRoll()" class="game-actions-row">
        <div class="game-actions-cell game-actions-text">Roll</div>
        <div class="game-actions-cell hotkey">Space</div>
    </div>

    <div
        (click)="setAsideAndContinue()"
        [class.disabled]="!hasSelectedDice() || !isYourTurn()"
        class="game-actions-row"
    >
        <div class="game-actions-cell game-actions-text">Score & Continue</div>
        <div class="game-actions-cell hotkey">S</div>
    </div>

    <div (click)="setAsideAndEnd()" [class.disabled]="!hasSelectedDice() || !isYourTurn()" class="game-actions-row">
        <div class="game-actions-cell game-actions-text">Score & Pass</div>
        <div class="game-actions-cell hotkey">F</div>
    </div>
</div>
