<div class="game-actions">
    <div (click)="rollDice()" class="game-actions-row">
        <div class="game-actions-cell game-actions-text">
            Roll
        </div>
        <div class="game-actions-cell hotkey">
            Space
        </div>
    </div>

    <div (click)="setAside()" class="game-actions-row">
        <div class="game-actions-cell game-actions-text">
            Score & roll
        </div>
        <div class="game-actions-cell hotkey">
            S
        </div>
    </div>

    <div (click)="setAside()" class="game-actions-row">
        <div class="game-actions-cell game-actions-text">
            Score & pass
        </div>
        <div class="game-actions-cell hotkey">
            F
        </div>
    </div>
</div>
