:host {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

#dice-container {
    height: 80%;
    width: 90%;
    //width: 100vw;
    //height: 100vh;
    //position: relative;
    //overflow: hidden;
}

.dice-hover-overlay {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border: 2px solid yellow;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-out,
    visibility 0.2s ease-out;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.dice-select-overlay {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border: 2px solid #00b7ff;
    border-radius: 50%;
    clip-path: circle(70% at bottom);
}
