/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: Maximillian;
    src: url("../public/fonts/Maximilian.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #cca553;
    --font-family: MedievalSharp, sans-serif;
    --border-radius: 6px;
}
