@use "sass:color";
@use "./vars" as vars;

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

//@font-face {
//    font-family: Maximillian;
//    src: url("../public/fonts/Maximilian.ttf") format("truetype");
//}

:root {
    --color-primary: #{vars.$color-primary};
    --color-error: #{vars.$color-error};
    --font-family: MedievalSharp, sans-serif;
    --border-radius: 6px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

button.primary {
    background-color: transparent;
    color: var(--color-primary);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;

    &:hover {
        color: color.adjust(vars.$color-primary, $lightness: 15%);
    }

    &:disabled {
        color: color.adjust(vars.$color-primary, $saturation: -100%);
        cursor: not-allowed;
    }
}

button.error {
    background-color: transparent;
    color: var(--color-error);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;

    &:hover {
        color: color.adjust(vars.$color-error, $lightness: 15%);
    }

    &:disabled {
        color: color.adjust(vars.$color-error, $saturation: -100%);
        cursor: not-allowed;
    }
}
